@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(120deg, darkviolet, #caf);
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 600px;
  background: transparent;
  border-radius: 3px;
  box-shadow: 0px 8px 10px rgb(57, 50, 50);
}
.relogio div {
  font-size: 25px;
  color: #fff;
  height: 170px;
  width: 150px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px rgb(57, 50, 50);
  justify-content: center;
  align-items: center;
  background: rgb(109, 81, 84);
  border-radius: 7px;
  letter-spacing: 3px;
}
.relogio span {
  font-weight: bold;
}
.relogio span.tempo {
  font-size: 10px;
}